doctype html
html(lang="en")
  head
    meta(
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width"
    )
    script(src="app.js")
  body
    header(class="navbar m-2 p-2 s-rounded main-bar")
      section(class="navbar-section")
        a(href="#" class="btn btn-link") Profile
    div(class="content-section px-2 pb-2")
      div(class="container p-2 s-rounded")
        h3(class="s-title") Test
    div(class="bg-img p-fixed")
